<%- include('../partials/header') %>

<h1>Races Page</h1>

<% if (races.length > 0) { %>
    <ul>
      <% races.forEach(function(race) { %>
        <li>
          <h2><%= race.name %></h2>
          <p><%= race.distance %></p>
          <p><%= race.date %></p>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No items to display.</p>
  <% } %>
 

<%- include('../partials/footer') %>